@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-header: #00ffee;
  --background-header:rgba(0, 0, 0, 0.3);
  --background-image: rgba(3, 215, 247, 0.886);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow-header {
  text-shadow: 0 0 25px var(--text-header);
  color: #00ffee; 
}
